# Entorno Virtual
dbt_env_39/

# Credenciales y Configuración Local (¡CRUCIAL!)
.env

# dbt Artifacts (Archivos que se generan solos al compilar)
dbt/target/
dbt/logs/
dbt/dbt_packages/
target/
logs/
dbt_packages/

# Python temporales
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/